
.cpp{
	background-color: #f1f1f1;
	
	div.container{
		display: flex;
		background-color: #f1f1f1;
		flex-direction: column;
	}
	
	.pitanje{
		padding: 10px 20px 5px 20px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 40%;
		color: #333;
	}
}

.cpp-naslov{
	color: #333;
	font-style: italic;
	letter-spacing: 0px;
}

h2.cpp-naslov{
	padding-left: 50px;
}

h3.cpp-naslov{
	display: inline;
}

#pitanja-container{
	display: flex;
	flex-wrap: wrap;
}

/*.cpp div.container{
	background-color: #fff;
}*/